## Data Preprocessing

1. Check for missing values: Check if there are any missing values in the dataset and decide on how to handle them. If there are a lot of missing values, you may consider dropping those rows or imputing them with appropriate values.

2. Check for duplicates: Check if there are any duplicate rows in the dataset and remove them if necessary.

3. Data type conversion: Check if the data types of the columns are appropriate. For example, the 'UID' column should be of integer data type, while the 'productID' column should be categorical.

4. Check for outliers: Check if there are any outliers in the dataset, especially in the continuous variables such as 'air temperature', 'process temperature', 'rotational speed', 'torque', and 'tool wear'. You may consider removing or adjusting the outliers depending on the context.

5. Feature engineering: Create new features that may be relevant for predictive maintenance. For example, you may create a new feature that combines the 'air temperature' and 'process temperature' to represent the temperature difference, which may be an important indicator of machine failure.

6. Label encoding: Convert the categorical variable 'productID' to numerical values using label encoding or one-hot encoding, depending on the algorithm you plan to use.

7. Feature scaling: Normalize or standardize the continuous variables to ensure that they have similar ranges. This will help the machine learning algorithm to converge faster.

8. Balance the dataset: Check if the dataset is balanced in terms of the 'machine failure' label. If there are a lot more non-failure instances than failure instances, you may consider oversampling or undersampling to balance the dataset.

9. Save the preprocessed dataset: Save the preprocessed dataset in a suitable format, such as CSV or Parquet, for future use.

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Read the data

In [2]:
df = pd.read_csv("data/data.csv")

In [3]:
df

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

## Missing values

In [4]:
df.isna().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

## Check for duplicates

In [5]:
df.duplicated().sum()

0

## Data type conversion

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Machine failure          10000 non-null  int64
 9   TWF                      10000 non-null  int64
 10  HDF                      10000 non-null  int64
 11  PWF                      10000 non-null  int64
 12  OSF                      10000 non-null  int64
 13  RNF                      10000 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 1.1+ MB

## Feature engineering

### creating 'type of failure' feature

In [7]:
def type_of_failure(row_name):
    if df.loc[row_name, 'TWF'] == 1:
        df.loc[row_name, 'type_of_failure'] = 'TWF'
    elif df.loc[row_name, 'HDF'] == 1:
        df.loc[row_name, 'type_of_failure'] = 'HDF'
    elif df.loc[row_name, 'PWF'] == 1:
        df.loc[row_name, 'type_of_failure'] = 'PWF'
    elif df.loc[row_name, 'OSF'] == 1:
        df.loc[row_name, 'type_of_failure'] = 'OSF'
    elif df.loc[row_name, 'RNF'] == 1:
        df.loc[row_name, 'type_of_failure'] = 'RNF'

df.apply(lambda row: type_of_failure(row.name), axis=1)
df['type_of_failure'].replace(np.NaN, 'no failure', inplace=True)
df.drop(['TWF', 'HDF', 'PWF', 'OSF', 'RNF'], axis=1, inplace=True)
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,no failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,no failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,no failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,no failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,no failure

In [8]:
df.drop(['UDI', 'Product ID'], axis=1, inplace=True)
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure
0,M,298.1,308.6,1551,42.8,0,0,no failure
1,L,298.2,308.7,1408,46.3,3,0,no failure
2,L,298.1,308.5,1498,49.4,5,0,no failure
3,L,298.2,308.6,1433,39.5,7,0,no failure
4,L,298.2,308.7,1408,40.0,9,0,no failure

converting Kelvin to Celsius

In [9]:
df['Air temperature [c]'] = df['Air temperature [K]'] - 273.15
df['Process temperature [c]'] = df['Process temperature [K]'] - 273.15
df.drop(['Air temperature [K]', 'Process temperature [K]'], axis=1, inplace=True)
df.head()

,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure,Air temperature [c],Process temperature [c]
0,M,1551,42.8,0,0,no failure,24.95,35.45
1,L,1408,46.3,3,0,no failure,25.05,35.55
2,L,1498,49.4,5,0,no failure,24.95,35.35
3,L,1433,39.5,7,0,no failure,25.05,35.45
4,L,1408,40.0,9,0,no failure,25.05,35.55

## Categorical Encoding

In [10]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=[['L', 'M', 'H']])

df['Type'] = encoder.fit_transform(df[['Type']])
df.head()

,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure,Air temperature [c],Process temperature [c]
0,1.0,1551,42.8,0,0,no failure,24.95,35.45
1,0.0,1408,46.3,3,0,no failure,25.05,35.55
2,0.0,1498,49.4,5,0,no failure,24.95,35.35
3,0.0,1433,39.5,7,0,no failure,25.05,35.45
4,0.0,1408,40.0,9,0,no failure,25.05,35.55

In [11]:
df['Type'].value_counts()

Type
0.0    6000
1.0    2997
2.0    1003
Name: count, dtype: int64

### Label Encoding

In [12]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

df['type_of_failure'] = encoder.fit_transform(df['type_of_failure'])
df.head()

,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure,Air temperature [c],Process temperature [c]
0,1.0,1551,42.8,0,0,5,24.95,35.45
1,0.0,1408,46.3,3,0,5,25.05,35.55
2,0.0,1498,49.4,5,0,5,24.95,35.35
3,0.0,1433,39.5,7,0,5,25.05,35.45
4,0.0,1408,40.0,9,0,5,25.05,35.55

In [13]:
df.loc[df['Machine failure'] == 1]

,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure,Air temperature [c],Process temperature [c]
50,0.0,2861,4.6,143,1,2,25.75,35.95
69,0.0,1410,65.7,191,1,2,25.75,35.85
77,0.0,1455,41.3,208,1,4,25.65,35.75
160,0.0,1282,60.7,216,1,1,25.25,35.05
161,0.0,1412,52.3,218,1,1,25.15,34.95
...,...,...,...,...,...,...,...,...
9758,0.0,2271,16.2,218,1,4,25.45,36.65
9764,0.0,1294,66.7,12,1,2,25.35,36.35
9822,0.0,1360,60.9,187,1,1,25.35,36.25
9830,0.0,1337,56.1,206,1,1,25.15,36.15
9974,0.0,1361,68.2,172,1,2,25.45,35.05

In [14]:
encoder.classes_

array(['HDF', 'OSF', 'PWF', 'RNF', 'TWF', 'no failure'], dtype=object)

In [15]:
classes = [0, 1, 2, 3, 4, 5]
encoder.inverse_transform(classes)

array(['HDF', 'OSF', 'PWF', 'RNF', 'TWF', 'no failure'], dtype=object)

In [16]:
df['type_of_failure'].value_counts()

type_of_failure
5    9652
0     115
2      91
1      78
4      46
3      18
Name: count, dtype: int64

In [17]:
df.iloc[6000]

Type                          2.00
Rotational speed [rpm]     1431.00
Torque [Nm]                  43.20
Tool wear [min]               0.00
Machine failure               0.00
type_of_failure               5.00
Air temperature [c]          27.25
Process temperature [c]      37.05
Name: 6000, dtype: float64

### Feature Scaling

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scale_cols = ['Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Air temperature [c]', 'Process temperature [c]']

df_scaled = scaler.fit_transform(df[scale_cols])
df_scaled = pd.DataFrame(df_scaled)
df_scaled.columns = scale_cols

df.drop(scale_cols, axis=1, inplace=True)

df_scaled = pd.concat([df, df_scaled], axis=1)
df_scaled.head()

,Type,Machine failure,type_of_failure,Rotational speed [rpm],Torque [Nm],Tool wear [min],Air temperature [c],Process temperature [c]
0,1.0,0,5,0.222934,0.535714,0.000000,0.304348,0.358025
1,0.0,0,5,0.139697,0.583791,0.011858,0.315217,0.370370
2,0.0,0,5,0.192084,0.626374,0.019763,0.304348,0.345679
3,0.0,0,5,0.154249,0.490385,0.027668,0.315217,0.358025
4,0.0,0,5,0.139697,0.497253,0.035573,0.315217,0.370370

In [19]:
df_scaled.iloc[69]

Type                       0.000000
Machine failure            1.000000
type_of_failure            2.000000
Rotational speed [rpm]     0.140861
Torque [Nm]                0.850275
Tool wear [min]            0.754941
Air temperature [c]        0.391304
Process temperature [c]    0.407407
Name: 69, dtype: float64

## Oversampling

In [20]:
!pip uninstall scikit-learn --yes
!pip uninstall imblearn --yes

Found existing installation: scikit-learn 1.2.2
Uninstalling scikit-learn-1.2.2:
  Successfully uninstalled scikit-learn-1.2.2

ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_internal\cli\base_command.py", line 180, in exc_logging_wrapper
    status = run_func(*args)
             ^^^^^^^^^^^^^^^
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_internal\commands\uninstall.py", line 110, in run
    uninstall_pathset.commit()
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_internal\req\req_uninstall.py", line 432, in commit
    self._moved_paths.commit()
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_internal\req\req_uninstall.py", line 278, in commit
    save_dir.cleanup()
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_internal\utils\temp_dir.py", line 173, in cleanup
    rmtree(self._path)
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 291, in wrapped_f
    return self(f, *args, **kw)
           ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 381, in __call__
    do = self.iter(retry_state=retry_state)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 327, in iter
    raise retry_exc.reraise()
          ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 160, in reraise
    raise self.last_attempt.result()
          ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\prajw\anaconda3\Lib\concurrent\futures\_base.py", line 449, in result
    return self.__get_result()
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\prajw\anaconda3\Lib\concurrent\futures\_base.py", line 401, in __get_result
    raise self._exception
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 384, in __call__
    result = fn(*args, **kwargs)
             ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\prajw\anaconda3\Lib\site-packages\pip\_internal\utils\misc.py", line 130, in rmtree
    shutil.rmtree(dir, ignore_errors=ignore_errors, onerror=rmtree_errorhandler)
  File "C:\Users\prajw\anaconda3\Lib\shutil.py", line 759, in rmtree
    return _rmtree_unsafe(path, onerror)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\prajw\anaconda3\Lib\shutil.py", line 617, in _rmtree_unsafe
    _rmtree_unsafe(fullname, onerror)
  File "C:\Users\prajw\anaconda3\Lib\shutil.py", line 622, in _rmtree_unsafe
    onerror(os.unlink, fullname, sys.exc_info())
  File "C:\Users\prajw\anaconda3\Lib\shutil.py", line 620, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'C:\\Users\\prajw\\anaconda3\\Lib\\site-packages\\~-learn\\.libs\\msvcp140.dll'

Found existing installation: imblearn 0.0
Uninstalling imblearn-0.0:
  Successfully uninstalled imblearn-0.0

In [21]:
!pip install scikit-learn==1.2.2
!pip install imblearn

Collecting scikit-learn==1.2.2
  Using cached scikit_learn-1.2.2-cp311-cp311-win_amd64.whl (8.3 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\prajw\anaconda3\lib\site-packages (from scikit-learn==1.2.2) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\prajw\anaconda3\lib\site-packages (from scikit-learn==1.2.2) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\prajw\anaconda3\lib\site-packages (from scikit-learn==1.2.2) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\prajw\anaconda3\lib\site-packages (from scikit-learn==1.2.2) (2.2.0)
Installing collected packages: scikit-learn
Successfully installed scikit-learn-1.2.2
Collecting imblearn
  Using cached imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Requirement already satisfied: imbalanced-learn in c:\users\prajw\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.11.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Installing collected packages: imblearn
Successfully installed imblearn-0.0

In [22]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\prajw\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn) (1.11.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\prajw\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
from imblearn.over_sampling import SMOTE

In [24]:

smote = SMOTE(sampling_strategy='auto')

X = df_scaled.drop('type_of_failure', axis=1)
y = df_scaled['type_of_failure']

X_resampled, y_resampled = smote.fit_resample(X, y)

df_sampled = pd.concat([X_resampled, y_resampled], axis=1)
df_sampled.head()

,Type,Machine failure,Rotational speed [rpm],Torque [Nm],Tool wear [min],Air temperature [c],Process temperature [c],type_of_failure
0,1.0,0,0.222934,0.535714,0.000000,0.304348,0.358025,5
1,0.0,0,0.139697,0.583791,0.011858,0.315217,0.370370,5
2,0.0,0,0.192084,0.626374,0.019763,0.304348,0.345679,5
3,0.0,0,0.154249,0.490385,0.027668,0.315217,0.358025,5
4,0.0,0,0.139697,0.497253,0.035573,0.315217,0.370370,5

In [25]:
df_sampled.value_counts('type_of_failure')

type_of_failure
0    9652
1    9652
2    9652
3    9652
4    9652
5    9652
Name: count, dtype: int64

In [27]:
df_sampled.to_csv('../data/data_processed.csv', index=False)